* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-color: #222831;
}

.navbar {
  background-color: #27374d;
  width: 90%;
  height: max-content;
  margin: 20px auto;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.navbar h2 {
  font-size: 44px;
  color: #eeeeee;
}

.navbar p {
  font-size: 18px;
  color: #eeeeee;
}

.main-container {
  width: 90%;
  height: max-content;
  /* border: solid; */
  margin: 0px auto;
  padding: 0px 120px;
  display: flex;
  justify-content: center;
  position: relative;
}

.sidebar-container {
  width: max-content;
  height: max-content;
  /* border: solid; */
  padding: 10px;
}

.heading {
  color: rgb(163, 160, 160);
  text-align: center;
  padding: 10px;
}

.friends-list {
  /* border: 1px solid; */
  /* width: 100%;
  height: max-content; */
  width: 360px;
  height: max-content;
  padding: 5px;
  /* border: 1px solid red; */
  background-color: #31363f;
  border-radius: 5px;
  margin: 10px 10px 20px;
}

.friend {
  width: 100%;
  height: max-content;
  border-bottom: 1px solid grey;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  margin-bottom: 3px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.even {
  color: #e0dede;
}

.friend img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0px 5px;
  object-fit: fill;
}

.info {
  /* border: solid; */
  width: 170px;
  margin-left: 5px;
  margin-top: 5px;
}

.info h3 {
  color: white;
  margin-bottom: 3px;
}

.info p {
  margin-left: 3px;
}

.select-button {
  margin-left: 15px;
  width: max-content;
  height: max-content;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #76abae;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
}

.form-add-friend {
  width: 360px;
  height: max-content;
  padding: 15px;
  /* border: 1px solid red; */
  background-color: #31363f;
  border-radius: 5px;
  margin: 10px;
}

.form-add-friend label {
  color: #eeeeee;
  font-size: 16px;
}

.form-add-friend input {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.form-split-bill {
  width: 450px;
  height: max-content;
  padding: 15px;
  /* border: 1px solid red; */
  background-color: #31363f;
  border-radius: 5px;
  margin: 20px 10px 20px;
}

.form-split-bill label {
  color: #eeeeee;
  font-size: 16px;
}

.form-split-bill input {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.form-split-bill select {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  width: 100%;
}
